<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>221899492316-8nj5bds6fj17kr67b2ebbaaq95tkb708.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.221899492316-8nj5bds6fj17kr67b2ebbaaq95tkb708</string>
	<key>API_KEY</key>
	<string>AIzaSyAfg1WpWunVSmWeZfoOGWUhZ36md0GVRNU</string>
	<key>GCM_SENDER_ID</key>
	<string>221899492316</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gabrielacleim.Be-happy</string>
	<key>PROJECT_ID</key>
	<string>be-happy-c8bcb</string>
	<key>STORAGE_BUCKET</key>
	<string>be-happy-c8bcb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:221899492316:ios:7c14f891c37cc7f26d9d19</string>
</dict>
</plist>